/EfficientPose-master
/MPII/images
/LSP/images
/LSP/batch
/__pycache__
*/__pycache__
*/desktop.ini

COCO/annotations/captions_train2017.json
COCO/annotations/captions_val2017.json
COCO/annotations/instances_train2017.json
COCO/annotations/instances_val2017.json
COCO/annotations/person_keypoints_train2017.json
COCO/dataset/*.jpg
